nuosi-logicflow/src/main/resources/com/nuosi/flow/xsd/logic_flow.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="logic-flow" type="xs:string"/>
    <xs:element name="databus" type="databusType"/>

    <xs:complexType name="databusType">
        <xs:sequence>
            <xs:element name="import" type="xs:string"/>
            <xs:element name="attr" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>